1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [1]:
import json

import pandas as pd

In [2]:
df_videogames = pd.read_csv("videogames.csv")

In [3]:
print(df_videogames)

       Unnamed: 0                                 name  \
0               0                           Spider-Man
1               1               Red Dead Redemption II
2               2                   Grand Theft Auto V
3               3                           God of War
4               4           Uncharted 4: A Thief's End
...           ...                                  ...
20798       20798  Enjoy Your Power, Enjoy Your Choice
20799       20799                           RedSun2020
20800       20800                              Shutter
20801       20801                    The Music Machine
20802       20802                              Cryptic

                                                     url    year certificate  \
0      https://www.imdb.com/title/tt5807780/?ref_=adv...  2018.0           T
1      https://www.imdb.com/title/tt6161168/?ref_=adv...  2018.0           M
2      https://www.imdb.com/title/tt2103188/?ref_=adv...  2013.0           M
3      https://www.imdb.com/title/tt5838588/?ref_=adv...  2018.0           M
4      https://www.imdb.com/title/tt3334704/?ref_=adv...  2016.0           T
...                                                  ...     ...         ...
20798  https://www.imdb.com/title/tt3845606/?ref_=adv...  2014.0         NaN
20799  https://www.imdb.com/title/tt0790739/?ref_=adv...  2004.0         NaN
20800  https://www.imdb.com/title/tt5119948/?ref_=adv...  2015.0         NaN
20801  https://www.imdb.com/title/tt5142082/?ref_=adv...  2015.0         NaN
20802  https://www.imdb.com/title/tt10964974/?ref_=ad...  2020.0         NaN

       rating   votes                                               plot  \
0         9.2  20,759  When a new villain threatens New York City, Pe...
1         9.7  35,703  Amidst the decline of the Wild West at the tur...
2         9.5  59,986  Three very different criminals team up for a s...
3         9.6  26,118  After wiping out the gods of Mount Olympus, Kr...
4         9.5  28,722  Thrown back into the dangerous underworld he'd...
...       ...     ...                                                ...
20798     NaN     NaN                                         Add a Plot
20799     NaN     NaN  Joseph gets kidnapped and it's the player's jo...
20800     NaN     NaN  A tech support man who uses a drone to investi...
20801     NaN     NaN  A young teenage girl and the ghost of a dead m...
20802     NaN     NaN  Kidnapped by an insane man and dragged into a ...

       Action  Adventure  Comedy  Crime  Family  Fantasy  Mystery  Sci-Fi  \
0        True       True   False  False   False     True    False   False
1        True       True   False   True   False    False    False   False
2        True      False   False   True   False    False    False   False
3        True       True   False  False   False    False    False   False
4        True       True   False  False   False    False    False   False
...       ...        ...     ...    ...     ...      ...      ...     ...
20798   False      False   False  False   False    False    False   False
20799   False      False   False  False   False    False    False   False
20800   False      False   False  False   False    False    False   False
20801   False      False   False  False   False    False    False   False
20802   False      False   False  False   False    False    False   False

       Thriller
0         False
1         False
2         False
3         False
4         False
...         ...
20798      True
20799      True
20800      True
20801      True
20802      True

[20803 rows x 17 columns]

2.
Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [4]:
df_videogames = pd.read_csv("videogames.csv", index_col = 0)

In [5]:
df_videogames.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

3.
Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [6]:
df_videogames.to_excel("videogames.xlsx")

In [7]:
df_videogames_excel = pd.read_excel("videogames.xlsx", index_col = 0)

In [8]:
df_videogames_excel.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

El dataframe en excel es igual que el del csv.

In [9]:
# importamos las librerías que necesitaremos

# Importar librería para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [10]:
with open("files/personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal = json.load(fichero) # igualamos el archivo cargado a una variable para tenerlo almacenad

In [ ]:
crear una nueva variable que sea el diccionario [workers] para acceder a eso buscnaod un me´todo que existe para crear listas 
o crear un dump como jason y brimos ese jason como pandas

In [15]:
workers = personal["workers"]["edad"]

TypeError: list indices must be integers or slices, not str

In [19]:
for worker in personal["workers"]:
    worker["nivel"] = "Senior"
    print(worker)
    print(".............")

{'nombre': 'Ana', 'edad': 1, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
.............
{'nombre': 'Eva', 'edad': 1, 'experiencia': 2, 'nivel': 'Senior', 'salario': 35000}
.............
{'nombre': 'Marta', 'edad': 1, 'experiencia': 1, 'nivel': 'Senior', 'salario': 25000}
.............
{'nombre': 'Paula', 'edad': 1, 'experiencia': 3, 'nivel': 'Senior', 'salario': 35000}
.............

In [27]:
with open("files/personal.json", "w") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal_editado = json.dump(personal,fichero) # igualamos el archivo cargado a una variable para tenerlo almacenad